.searchbox1{
	height:108px;
	width:900px;
	text-align: center;
	font-size:42px;
	background-color: #fff;
	margin-top: 30px;
	margin-left: 42px;
	position:relative;
}
.searchbox1 span.icon_search{
	position: absolute;
    top: 27px;
    left: 30px;
    width: 54px;
    height: 54px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAkCAYAAADhAJiYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAJlSURBVFhH7ZfRShRRHMb3Jkqzm7wJSrqIIDBxX6C0a62H6C7oqq4ixYreQMmMHkXbjLQeIYgyQuqiyIuotKDt923fyLCszv/MzF5EDnzs2T3/7zffOXNm5myjcXDUOAOtVquJ7qOn6AP6ZamtQ33NGk/ZG8VJJtEaagf1XJ7agwEdRI9zIT7RnkdT6Iz7VaO2flPf51z9I9oDtQQDNIxeGv6Nz9voaBFcNa79bu8LsYp8+/Z75FmYN3w/nwqUB204lFiDqYzd+txlek37RFkQ3pNIjDZaKsXBeMkATfloKUjOBGMMifUbXUzmYVp3oFvJ5j0M8GbNXEtiYtJzRtOru6lwAUfhsIZQdveNR30NTPccaD5sChbCXTD7btDSUCAdmqGpsClYCHPa7CdBSyeQXgEKNBI2BQthnjX7Y9DSCfTTpkNhU7AQ7jGzd4KWvgc67EDbKYH6eclOO9BmSqBsUU+HTcFCwJcdaCVo6Vyy7LZfCJuChbAfONCdoKUTKHsw6iE2FDYWFIqFthxoLImLSZsr3fqzScZ9isUyczWZiXEC6UWoF2LaaHqcDcY4+mHmheRAMmBe8oje8nmqFOQvZwS9N2uxLEcgbUuzDdpGmZnyzLxzGG3yqm1lARxH2VZEUz6DChc6NXoia83I087pRukZyozAjqCHvv6Cf0GL6Ao655MrgNr6TX1bDqF1qO/Xcv7qobymJoA+6xpxfvTd7VVqdxcw7au1h3IwbUfn0DJ6hb6ibbSJVtzX8w9B30JVWQf/QqibVQZYm7drpg5C7TmzuZnSI6JZ2yWoAnKo61UY/5f3Dy7dC4CdAEhQAAAAAElFTkSuQmCC);
    background-repeat: no-repeat;
    background-size: cover;
    text-indent: -999px;
}
.form{margin:0;padding:0;}
.searchbox1 .form{
	width:759px;
	height:60px;
	margin-left: 100px;
	text-align: center;
	line-height: 60px;
	padding-top: 23px;
}
.searchbox1 .form input{
	width:644px;
	height:60px;
	font-size: 44px;
	display: block;
	border:none;
	color:rgba(0,0,0,.3)
}
.search_bar{
	position:absolute;
	right:0;
	bottom:0;
	font-size: 42px;
	padding-right: 30px;
    padding-left: 30px;
    height: 108px;
    line-height: 108px;
    background-color: rgb(244, 244, 244);
}
input:focus{outline: none;}
input::-webkit-input-placeholder {color:rgba(0,0,0,.3)}
            
                    
